$blue: #01d7f8;
$orange: #ff6733;
$white: #fff;
$black: #222;
$font-family: 'Vollkorn', serif;

* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: $blue;
  font-family: $font-family;
  line-height: 1.5;

  h1 {
    color: $orange;
  }

  h2 {
    color: $black;
  }
}

form {
  overflow: hidden;

  .column {
    float: left;
    width: 25%;

    ul {
      width: 100%;
      list-style-type: none;
      margin: 0;
      padding: 15px;
     }

    li {
      background: $white;
      color: $orange;
      padding: 15px;
      margin-bottom: 15px;
      display: block;
    }
  }

  input[type="text"] {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
  }

  input[type="submit"] {
    display: block;
    clear: both;
    margin: 0 auto;
    padding: 20px 40px;
    background: $orange;
    color: $white;
    border: 0;
    font-size: 1rem;
  }
}

@media screen and (max-width: 780px) {
  form {
    .column {
      float: left;
      width: 100%;
    }
  }
}